@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
	font-family: retro;
 	src: url(Retroking.ttf);
}
*{
	padding: 0;
	margin: 0;
}
body{
	background-color: black;
}
.container{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;
	padding: 15px;
}
.logo{
	text-decoration: none;
	cursor: pointer;
	font-family: 'Bangers', cursive;
	font-size: 2rem;
	color: white;
}
.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0 20px;
}
.nav_links li a, .ctc{
	text-decoration: none;
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 1.75rem;
	transition: all 0.3s ease 0s;
}
.logo{
	display: none;
}
.nav_links li a:hover, .ctc:hover{
	color:#FAFAD2;
}
#active{
	font-weight: bold;
	color: #FAFAD2;
	text-decoration: underline;
}

.container-2{
	box-sizing: border-box;
	margin-bottom: 15px;
}
.container-2 div{
	flex: 1;
}
.container-2 p{
	font-family: 'Bangers', cursive;
	font-size: 2.5rem;
	text-align: center;
	line-height: 150px;
	color: #FAFAD2;
	padding: 2px;
	padding-top: 50px;
}
#e-1{
	background: #B22222;
}
.container-2 img{
        display: none;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.between{
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 3rem;
	color: #FAFAD2;
	text-decoration: underline;
}
.container-3{
	justify-content: space-between;
	margin-bottom: 30px;
}
.container-3 div{
	flex-basis: 27%;
}

.container-3 img{
	object-fit: cover;
	width:100%; 
	height:400px;
}
.container-3 p{
	font-family: retro;
	text-align: center;
	color: #FAFAD2;
	font-size: 1.25rem;
}

footer{
	background-color: #B22222;
	font-family: 'Bangers', cursive;
	color: #FAFAD2;
	font-size: 2rem;
	text-align: center;
}

@media screen and (min-width: 768px){
	.container-2{
		display: flex;
	}
	.container-3{
		display: flex;
	}
	.logo{
		display: inline-block;
	}
        .container-2 img{
        display: inline-block;
        }
        .container-2 p{
        font-size: 3.1rem;
        }
}
